.padd_0{
    padding: 0;
}
.zip_button{
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #2976b6;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    font-weight: 600;
    color: black;
    background-color: #337ab4;
}
.font_12{
    font-size: 12px;
}
